body {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;

    font-family: 'Times New Roman', Times, serif;
}

/* Apresentação */
.apresentacao {
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 10px
}

.img {
    border-radius: 100%;
}

.nomeprofissao {
    margin-left: 350px;
    margin-right: 450px;
}

h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;

    color: darkblue;
    font-size: 45px;
}

h2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 40px;
}

.linha1 {
    border-bottom: 4px solid darkblue;
}

/* Dados */
.dados {
    display: flex;
    justify-content: center;
    flex-direction: row;

    margin-top: 10px;
    margin-bottom: 10px;
}

.dado {
    display: flex;
    justify-content: center;
    flex-direction: row;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.titulodado {
    font-size: 20px;
    color: darkblue;
}

.dadodado {
    font-size: 20px;
    margin-left: 1px;
    margin-right: 5px;
}

.linha2 {
    border-bottom: 4px solid lightseagreen;
    margin-bottom: 15px;
}

/* Curriculo */
.curriculo {
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
}

h3 {
    color: darkblue;
    font-size: 25px;
}

.linha3 {
    border-bottom: 1px solid dimgray;
    margin-left: -10px;
    margin-right: -1050px;
}

.descricaocurriculo {
    margin-top: 10px;
}

h4 {
    margin-bottom: 0px;
    color: darkblue;
    font-size: 17px;
}

.listacargo {
    margin-left: 37px;
}

.divisao2 {
    background-color: lightblue;
}
.descricaocurriculo2 {
    margin-left: 10px;
    margin-top: 10px;
}
.titulocurriculo2 {
    margin-left: 10px;
}
.divisao1{
    margin-right: 1050px;
}

